@font-face {
  font-family: grotesk;
  src: url(./4.SpaceGrotesk-VariableFont_wght.ttf);
}
@font-face {
  font-family: monaco;
  src: url(./4.Monaco.woff);
}
#imagetozoom1 {
  cursor: crosshair;
}
#imagetozoom4 {
  width: 500px;
  margin-top: -30px;
}
#imagetozoom5 {
  width: 500px;
  margin-top: -25px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: grotesk;
  cursor: crosshair;
}
body {
  overflow-x: hidden;
  margin: 0;
  display: flex;
  background-color: black;
  height: 11300px;
}
.lecteur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(27, 27, 27, 0.679);
  position: fixed;
  z-index: 1000;
  display: none;
}
.lecteur-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn {
  margin-left: 30px;
  margin-top: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.close-btn span {
  font-size: 40px;
}
.close-btn:hover {
  background-color: #ffffff37;
  border-radius: 10px;
}
.close-btn:active {
  transform: scale(0.95);
}
.close-btn span {
  cursor: pointer;
}
.replay-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: #00000074;
  border-radius: 8px;
  transition: 300ms;
  z-index: 3;
  top: 300px;
  left: 650px;
  visibility: hidden;
}
.replay-btn:hover {
  transform: scale(0.95);
  transition: 300ms;
  cursor: pointer;
  background-color: #000000a1;
}
.replay-btn span {
  cursor: pointer;
}

#red-span {
  font-family: grotesk;
  color: rgb(43, 110, 49);
  transition: 300ms;
}

#blue-span {
  font-family: grotesk;
  color: rgb(91, 97, 177);
  text-decoration: underline;
}

#blue-span:hover .hover-container {
  display: block;
  position: absolute;
  width: 500px;
  height: 300px;
  margin-top: -300px;
  z-index: 3;
}
#link {
  text-decoration: underline;
  transition: 300ms;
  color: rgb(154, 0, 154);
}

#blancsouris {
  width: 0px;
  height: 0px;
  position: fixed;
  box-shadow: 15px 15px 170px 40px rgb(255, 255, 255);
  z-index: 10;
  animation: appearance 10s;
}
.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-left: 20vw;
}
.second-container {
  width: 80%;
  height: 100vh;
}
.top-container {
  width: 20vw;
  height: 5vh;
  position: fixed;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}
.bottom-container {
  top: 95vh;
  width: 20vw;
  height: 5vh;
  position: fixed;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}
.nav-container {
  z-index: 2;
  background-color: black;
  animation: appearance 10s;
  position: fixed;
  width: 20vw;
  height: 90vh;
  padding: 35px;
  top: 5vh;

  border-right: 1px solid rgb(255, 255, 255);
}
.title-container {
  cursor: pointer;
  width: 100%;
  height: 20%;
}
.title-container img {
  width: 100%;
}
.list-container {
  width: 100%;
  height: 70%;
  margin-top: 30%;
  display: flex;
}
.list-container ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.li-container {
  border-radius: 17px;
  margin: 30px 0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: calc(15px - 0.1vw);
  color: white;
  font-size: 20px;
  transition: 300ms;
  font-family: minecraft;
}
.li-container:hover {
  background-color: rgb(43, 110, 49);
  transform: scale(0.95);
  transition: 300ms;
}

.li-container:active {
  transform: scale(0.95);
  transition: 100ms;
}
.li-container li {
  padding-left: 15px;
}
.preface-title-container {
  display: flex;
  align-items: center;
  padding: 0 100px;
  padding-top: 100px;
  width: 100%;
}

.preface-title-container h1 {
  text-align: center;
  font-family: grotesk;
}
.preface-content-container {
  text-align: center;
}
.preface-content-container span {
  color: rgb(43, 110, 49);
  font-size: 35px;
}

.story-container {
  animation: appearance 10s;
  width: 100%;
  padding-top: 50px;
}
.functioning-container {
  animation: appearance 10s;
}
.community-container {
  animation: appearance 10s;
}

.story-container-section-title span {
  font-family: Monaco;
}
.functioning-container-section-title-1 {
  margin-bottom: 0;
}
.functioning-container-section-title-1 span {
  font-family: Monaco;
}
.community-container-section-title-2 span {
  font-family: Monaco;
}
.story-container-subsection-title {
  padding-top: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.story-container-subsection-title span {
  font-family: Monaco;
}
.functionning-container-subsection-title-1 span {
  font-family: Monaco;
}
.story-container-subsection-title {
  text-align: center;
}
.functioning-content-container {
  padding-top: 70px;
}
.functioning-container-subsection-title {
  text-align: center;
  padding-top: 90px;
}

.story-content-container {
  padding-top: 70px;
  display: flex;
  align-items: start;
}

.story-content-container-text {
  font-size: 20px;
  width: 100%;
}
.story-content-container-img img {
  width: 230px;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.hover-container {
  display: none;
}
.hover-zoom-container {
  width: 0;
  height: 0;
}
.hover-zoom-container span {
  height: 100px;
  width: 100px;
  background-color: #333333d1;
  position: relative;
  top: -200px;
  left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 40px;
  transition: 300ms;
  cursor: pointer;
}
.hover-zoom-container span:hover {
  transform: scale(0.95);
  transition: 300ms;
}
.hover-container img {
  width: 100%;
  height: 100%;
  cursor: default;
}

#w50 {
  width: 50%;
  margin-top: 5%;
}
.m0 {
  margin: 0;
}
.textend {
  display: flex;
  justify-content: end;
  font-size: 20px;
}
.functioning-content-container2 {
  display: flex;
  align-items: start;
  padding-top: 50px;
}

.functioning-content-container-text {
  font-size: 20px;
  width: 50%;
}
.functioning-content-container-img {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.functioning-content-container-img img {
  width: 150px;
}

.functioning-content-container-text .hover-container img {
  width: 600px;
  height: 300px;
}
#zoom-btn3 {
  left: 250px;
}

.tool-container {
  display: flex;
  align-items: center;
}
.underline {
  text-decoration: underline;
}
#rotate90 {
  transform: rotate(90deg);
}

.community-container {
  margin-top: 90px;
}

.community-container-section-title span {
  font-family: monaco;
}

.community-container-subsection-title {
  text-align: center;
  padding-top: 60px;
}
.community-subsection-title span {
  font-family: monaco;
}
.community-content-container-text {
  font-size: 20px;
  width: 100%;
  margin-top: 50px;
}
.community-container-grid-container {
  width: 100%;
}
.community-content-container-grid {
  width: 70%;
  height: 300px;
  display: flex;
}
.community-content-container-grid-subsection {
  width: 50%;
  height: 100%;
}
#subsection-tl {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
#subsection-tr {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
#subsection-bl {
  border-right: 1px solid white;
  border-top: 1px solid white;
}
#subsection-br {
  border-left: 1px solid white;
  border-top: 1px solid white;
}
#title-2 img {
  width: 300px;
  margin-left: 10px;
}

@keyframes zoom {
  80% {
    transform: scale(1.2);
  }
  95% {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slidein {
  from {
    margin-left: 700px;
    visibility: hidden;
  }
  85% {
    visibility: hidden;
    margin-left: 700px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes appearance {
  from {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes disappearance {
  from {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes appearance1 {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
@keyframes disappearance1 {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}
@keyframes centerin {
  from {
    overflow-x: hidden;
    margin-right: 250px;
  }
  85% {
    overflow-x: hidden;
    margin-right: 250px;
  }
  to {
    overflow-x: auto;
    margin-right: 0;
  }
}
@keyframes slidetextleft {
  from {
    margin-left: 200px;
  }
  to {
    margin-left: 50px;
  }
}
@keyframes slidetextright {
  from {
    margin-left: 50px;
  }
  to {
    margin-left: 200px;
  }
}
@keyframes disrotateP {
  from {
    transform: rotate(450deg);
  }
  to {
    transform: rotate(90);
  }
}
@keyframes disrotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes rotateP {
  from {
    transform: rotate(90);
  }
  to {
    transform: rotate(450deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes toolslide {
  from {
    padding-left: 300px;
    visibility: hidden;
  }
  10% {
    visibility: hidden;
  }
  20% {
    visibility: visible;
  }

  to {
    visibility: visible;
    padding-left: 0;
  }
}
@keyframes distoolslide {
  from {
    visibility: visible;
    padding-left: 0;
  }
  10% {
    visibility: hidden;
  }
  60% {
    padding-left: 300px;
  }
  to {
    padding-left: 300px;
    visibility: hidden;
  }
}
@keyframes marche {
  from {
    margin-right: 300px;
  }
  9.999999% {
    margin-right: 300px;
  }
  10% {
    margin-right: 270px;
  }
  19.99% {
    margin-right: 270px;
  }
  20% {
    margin-right: 240px;
  }
  29.99% {
    margin-right: 240px;
  }
  30% {
    margin-right: 210px;
  }
  39.99% {
    margin-right: 210px;
  }
  40% {
    margin-right: 180px;
  }
  49.99% {
    margin-right: 180px;
  }
  50% {
    margin-right: 150px;
  }
  59.99% {
    margin-right: 150px;
  }
  60% {
    margin-right: 120px;
  }
  69.99% {
    margin-right: 120px;
  }
  70% {
    margin-right: 90px;
  }
  79.99% {
    margin-right: 90px;
  }
  80% {
    margin-right: 60px;
  }
  89.99% {
    margin-right: 60px;
  }
  90% {
    margin-right: 30px;
  }
  99.99% {
    margin-right: 30px;
  }
  to {
    margin-right: 0;
  }
}
@keyframes dismarche {
  from {
    margin-right: 0px;
  }
  9.999999% {
    margin-right: 0px;
  }
  10% {
    margin-right: 30px;
  }
  19.99% {
    margin-right: 30px;
  }
  20% {
    margin-right: 60px;
  }
  29.99% {
    margin-right: 60px;
  }
  30% {
    margin-right: 90px;
  }
  39.99% {
    margin-right: 90px;
  }
  40% {
    margin-right: 120px;
  }
  49.99% {
    margin-right: 120px;
  }
  50% {
    margin-right: 150px;
  }
  59.99% {
    margin-right: 150px;
  }
  60% {
    margin-right: 180px;
  }
  69.99% {
    margin-right: 180px;
  }
  70% {
    margin-right: 210px;
  }
  79.99% {
    margin-right: 210px;
  }
  80% {
    margin-right: 240px;
  }
  89.99% {
    margin-right: 240px;
  }
  90% {
    margin-right: 270px;
  }
  99.99% {
    margin-right: 270px;
  }
  to {
    margin-right: 300px;
  }
}

#title-1 {
  animation-name: zoom, centerin;
  animation-duration: 2s, 8s;
}
#title-2 {
  animation-name: slidein, centerin;
  animation-duration: 5s, 8s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text-1 {
  width: 500px;
  margin-left: 200px;
}
.text-2 {
  opacity: 0%;
}
.text-3 {
  opacity: 0%;
}

#img {
  transition: 500ms;
}
#img:hover {
  transition: 500ms;
  transform: scale(0.97);
}

#tool-text-1 {
  height: 140px;
  visibility: hidden;
  left: 300px;
  width: 1000px;
}
#tool-text-2 {
  height: 140px;
  visibility: hidden;
  left: 300px;
  width: 1000px;
}
#tool-text-3 {
  visibility: hidden;
  left: 300px;
  width: 1000px;
}

#fs40 {
  font-size: 40px;
}
#fs30 {
  font-size: 30px;
}
.community-content-container-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}
.slider-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 90%;
}
.slider-arrow-container span {
  z-index: 5;
  font-size: 70px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
}
.slider-arrow-container span:hover {
  transform: scale(0.9);
  transition: 300ms;
}
.slider-arrow-container span:active {
  transform: scale(0.8);
  transition: 300ms;
}
.slider-container {
  display: flex;
  padding: 25px;
  width: 850px;
  height: 100%;

  /* border: 1px solid white; */
}
.slider-container img {
  width: 100%;
  height: 450px;
  margin-right: 205px;
  transition: 2s;
}
.slider-preview-container {
  width: 100%;
  height: 80px;
  background-color: #3a3a3a96;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.slider-preview {
  width: 850px;
  height: 80px;
  display: flex;
  align-items: center;
}
#sliderDown {
  font-size: 70px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  cursor: pointer;
  visibility: hidden;
}
.slider-preview-img-container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-preview-img-container img {
  transition: 500ms;
  cursor: pointer;
}
.slider-preview-img-container img:hover {
  transition: 500ms;
  cursor: pointer;
  transform: scale(0.95);
}
.slider-preview-img-container img:active {
  transition: 500ms;
  cursor: pointer;
  transform: scale(0.8);
}
.unselectionned {
  width: 60%;
  height: 60%;
  opacity: 30%;
}
.selectionned {
  width: 80%;
  height: 80%;
  opacity: 100%;
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.485);
}
#slidertextarea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.communnity-preface-container-text li span {
  font-family: monaco;
}
.communnity-preface-container-text li {
  font-size: 25px;
}
.community-content-container-maps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.community-content-container-maps-text {
  padding: 30px;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.community-content-container-maps-text h3 {
  text-align: center;
}
.community-content-container-maps-img {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.community-content-container-maps-img img {
  border-radius: 25px;
  width: 100%;
  transition: 300ms;
}
.community-content-container-maps-img img:hover {
  transform: scale(0.97);
}
