@font-face {
  font-family: grotesk;
  src: url(4.SpaceGrotesk-VariableFont_wght.ttf);
}
body {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.second-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.buttoncontainer {
  height: 50px;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(255, 36, 68), rgb(255, 107, 129));
  border-radius: 30px;
  transition: 300ms;
  cursor: pointer;

  transform: scale(2);
}

.MainBtn {
  width: 200px;
  height: 40px;
  font-size: 17px;
  border: 0;
  background: linear-gradient(to right, rgb(255, 36, 68), rgb(255, 107, 129));
  color: white;
  border-radius: 30px;
  border: 3px solid rgb(255, 255, 255);
  cursor: pointer;
  font-family: grotesk;
  font-weight: 900;
}

.buttoncontainer:hover {
  transform: scale(1.7);
  box-shadow: 0px 0px 20px rgb(255, 36, 68);
}

@media screen and (max-width: 1050px) {
  .buttoncontainer {
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(255, 36, 68), rgb(255, 107, 129));
    border-radius: 30px;
    transition: 300ms;
    cursor: pointer;

    transform: scale(2);
  }
  .MainBtn {
    width: 140px;
    height: 40px;
    font-size: 10px;
    border: 0;
    background: linear-gradient(to right, rgb(255, 36, 68), rgb(255, 107, 129));
    color: white;
    border-radius: 30px;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    font-family: grotesk;
    font-weight: 900;
  }
}
@media screen and (max-width: 750px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .buttoncontainer {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(255, 36, 68), rgb(255, 107, 129));
    border-radius: 30px;
    transition: 300ms;
    cursor: pointer;

    transform: scale(2);
  }
  .MainBtn {
    height: 40px;
    width: 90px;
    font-size: 10px;
    border: 0;
    background: linear-gradient(to right, rgb(255, 36, 68), rgb(255, 107, 129));
    color: white;
    border-radius: 30px;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    font-family: grotesk;
    font-weight: 900;
  }
}
@media screen and (max-width: 225px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .buttoncontainer {
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(255, 36, 68), rgb(255, 107, 129));
    border-radius: 30px;
    transition: 300ms;
    cursor: pointer;

    transform: scale(2);
  }
  .MainBtn {
    height: 20px;
    width: 40px;
    font-size: 5px;
    border: 0;
    background: linear-gradient(to right, rgb(255, 36, 68), rgb(255, 107, 129));
    color: white;
    border-radius: 30px;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    font-family: grotesk;
    font-weight: 900;
  }
}
